.grid {
  display: grid;
  gap: 1rem;
}

.card {
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid;
}

.value {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-body);
}

.label {
  font-size: 0.875rem;
  font-family: var(--font-body);
}
