.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textLabel {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-mono);
  font-size: 0.875rem;
}
