.genericCard {
  border: 1px solid var(--gray-3);
  border-radius: 10px;

  & .title {
    margin-bottom: 8px;
  }

  & .description {
    margin-bottom: 16px;
  }

  & .children {
    display: flex;
  }
}
